.flexNavigation {
  display: flex;
  justify-content: flex-end;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .flexNavigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}